* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#left-panel, #right-panel {
    box-shadow: none;
}

/* LEFT PANEL STYLING */
#left-panel {
    box-shadow: none;
    border: none;
    border-bottom-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
}

/* RIGHT PANEL STYLING */
#right-panel {
    box-shadow: none;
    background-color: white;
}
